
.modal-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-window{
    width: 400px;
    border-radius: 5px;
    border: 5px solid #eee;
    background: #fff;
    margin: 0px auto;
}

.modal-header{
    padding: 5px 10px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    border-bottom: 1px solid #eee;
    background-color: rgb(158, 187, 241);
}

.modal-title{
    font-size: 1.5rem;
}

.modal-close{
    cursor: pointer;
}

.modal-body{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0 0 5px;
    background-color: rgb(219, 255, 250);
}

.modal-footer{
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
    border-top: 1px solid #eee;
    background-color: rgba(0, 255, 255, 0.356);
}
.modal-footer button{
    margin-left: 10px;
}

.activeModalOverlay {
    opacity: 1;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    transition: background .2s ease-in;
}

.inActiveModalOverlay {
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0);
    transition: all .2s ease-out;
}

.activeModalWindow {
    transform: translateY(200px);
    transition: transform .2s ease-in;
}

.inActiveModalWindow {
    transform: translateY(-200px);
    transition: transform .2s ease-out;
}